/* Fonts Family */
@font-face {
  font-family: 'ProximaNova_Rg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
.bold {
  font-family: ProximaNova_Bold, sans-serif;
}
/* Colors */
/* Base setting */
/* Typography */
/* Main */
.main {
  padding: 3rem 0;
  background: #ffffff url(../css/img/bg.png) center center no-repeat;
}
header {
  height: 7rem;
}
.number {
  display: inline-block;
  font-weight: 900;
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  font-family: ProximaNova_Bold, sans-serif;
}
.wrap {
  font-family: ProximaNova_Rg, sans-serif;
  width: 100%;
  height: 70px;
  display: table;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.button {
  font-size: 12px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffba15;
  box-sizing: border-box;
  background-color: #fdb303;
  box-shadow: 4px 7px 13px 0px rgba(0, 0, 0, 0.04);
  width: 225px;
  height: 50px;
  font-family: ProximaNova_Rg, sans-serif;
  color: #f5f5f5;
  text-transform: uppercase;
  outline: none;
}
button:hover {
  cursor: pointer;
  background-color: #e5a202;
}
button:focus {
  outline: none;
}
.main-intro {
  margin-top: 40px;
}
.main-intro h1 {
  font-family: ProximaNova_Bold, sans-serif;
  margin-top: 40px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 35px;
}
.main-intro p {
  font-family: ProximaNova_Rg, sans-serif;
  margin-top: 40px;
  font-size: 24px;
}
.main-intro span {
  margin-top: 40px;
  background-color: #70c849;
  display: block;
  width: 225px;
  height: 105px;
  padding: 25px;
  font-size: 18px;
  font-family: ProximaNova_Bold, sans-serif;
  color: #f5f5f5;
}
.main-intro strong {
  font-size: 24px;
}
.main-intro .main-trigger {
  display: block;
  font-family: ProximaNova_Bold, sans-serif;
  font-size: 22px;
  padding-top: 37px;
}
.main-form {
  margin-top: 80px;
  background-color: #ffffff;
  width: 355px;
  height: 410px;
  text-align: center;
  font-family: ProximaNova_Rg, sans-serif;
}
.main-form h3 {
  font-family: ProximaNova_Rg, sans-serif;
  font-size: 18px;
  margin-top: 45px;
}
.main-form label {
  display: inline-block;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.main-form input {
  display: block;
  margin: 30px auto;
  padding: 10px 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #dddddd;
  border-style: solid;
  width: 254px;
  height: 52px;
}
.main-form .form-btn {
  display: block;
  margin: 0 auto;
}
.features {
  margin-top: 40px;
  margin-bottom: 40px;
}
.features h2 {
  font-family: ProximaNova_Bold, sans-serif;
  font-size: 36px;
  font-weight: 900;
  margin-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.features h3 {
  font-size: 17px;
  font-weight: 700;
  padding-top: 40px;
  padding-bottom: 20px;
}
.features p {
  font-size: 14px;
}
.features div {
  text-align: center;
}
.main-price {
  background: url(../css/img/bg_2.jpg) center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 850px;
}
.main-price h2 {
  font-family: ProximaNova_Bold, sans-serif;
  font-size: 36px;
  font-weight: 900;
  padding-top: 40px;
  text-align: center;
  color: white;
}
.main-price button {
  position: relative;
  left: 70%;
  font-size: 13px;
  width: 375px;
}
.main-price p {
  font-size: 18px;
  color: white;
  text-align: center;
  margin-top: 30px;
  font-family: ProximaNova_Rg, sans-serif;
}
.main-price .tab {
  background-color: #fff;
  text-align: center;
  height: 600px;
}
.main-price h3 {
  font-size: 15px;
  margin-top: 35px;
  margin-bottom: 35px;
  font-family: ProximaNova_Bold, sans-serif;
}
.main-price span {
  display: block;
  margin-top: 35px;
  font-size: 19px;
}
.main-price strong {
  font-size: 30px;
}
.main-price .img-main {
  display: block;
  margin: 0 auto;
}
.main-price .main-info {
  color: #1a1820;
  font-family: ProximaNova_Rg, sans-serif;
}
.main-schema {
  background: url(../img/bg_schema.jpg) no-repeat;
  background-position: center;
}
.main-schema h3 {
  font-family: ProximaNova_Bold, sans-serif;
  margin-top: 40px;
  font-size: 36px;
  text-align: center;
}
.main-schema .second-p {
  margin-top: 50px;
  padding-bottom: 65px;
  font-size: 16px;
  text-align: center;
}
.main-schema h4 {
  font-family: ProximaNova_Bold, sans-serif;
  margin-top: ;
  font-size: 22px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.main-schema p {
  font-size: 15px;
  font-family: ProximaNova_Rg, sans-serif;
}
.garanty {
  background-image: url(../img/bg_garanty.jpg);
}
.garanty .intro_p {
  padding-bottom: 25px;
  text-align: center;
  font-size: 16px;
  font-family: ProximaNova_Rg, sans-serif;
}
.garanty h3 {
  padding-top: 40px;
  font-family: ProximaNova_Bold, sans-serif;
  text-align: center;
  color: #70c849;
  font-size: 48px;
}
.garanty img {
  display: inline;
}
.garanty .number-garnaty {
  position: relative;
  right: 29px;
  color: #f5f5f5;
  font-family: ProximaNova_Bold, sans-serif;
}
.garanty h5 {
  display: inline;
  font-size: 16px;
}
.garanty .second_p {
  font-size: 13px;
  display: inline-block;
  margin-left: 60px;
}
.garanty .right {
  position: relative;
  left: 63px;
}
.main-offer h3 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.main-offer p {
  margin-top: 20px;
}
.left {
  border: 2px solid gray;
}
.left h4 {
  color: gray;
  font-size: 21px;
  font-family: ProximaNova_Bold, sans-serif;
  margin-top: 50px;
  position: relative;
  left: 6%;
}
.right_2 {
  border: 2px solid #70c849;
}
.right_2 h4 {
  font-family: ProximaNova_Bold, sans-serif;
  font-size: 21px;
  margin-top: 50px;
  position: relative;
  left: 13%;
}
.right_2 p {
  position: relative;
  left: 10%;
}
.text-offer {
  padding: 15px 15px;
}
.img-girl {
  position: absolute;
  left: 36%;
  margin-top: 3px;
}
.materials {
  background: url(../css/img/bg_materials.jpg);
  margin-top: 275px;
  text-align: center;
}
.materials span {
  display: block;
  font-family: ProximaNova_Bold, sans-serif;
  font-size: 22px;
}
.materials h3 {
  padding-bottom: 45px;
  font-family: ProximaNova_Bold, sans-serif;
}
.materials p {
  padding-bottom: 45px;
  font-family: ProximaNova_Rg, sans-serif;
}
.materials i {
  display: block;
  padding-top: 87px;
}
.materials a {
  color: #70c849;
  text-decoration: underline;
}
.marials_item_1 {
  position: relative;
  top: 13px;
}
.view_work {
  padding: 120px 0;
  background: url(../css/img/bg_work.jpg) center no-repeat;
  margin-top: 87px;
}
.view_work h2 {
  font-family: ProximaNova_Bold, sans-serif;
  font-size: 40px;
}
.view_work p {
  font-family: ProximaNova_Rg, sans-serif;
  font-size: 20px;
}
.main-form_footer {
  background-color: #ffffff;
  width: 355px;
  height: 350px;
  text-align: center;
  font-family: ProximaNova_Rg, sans-serif;
}
.main-form_footer h3 {
  font-family: ProximaNova_Rg, sans-serif;
  font-size: 18px;
  margin-top: 35px;
  padding-bottom: 20px;
}
.main-form_footer label {
  display: inline-block;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.main-form_footer .name {
  transform: translateX(-50%) translateY(50%);
}
.main-form_footer input {
  display: block;
  margin: 30px auto;
  padding: 10px 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #dddddd;
  border-style: solid;
  width: 254px;
  height: 52px;
}
.main-form_footer .form-btn {
  display: block;
  margin: 0 auto;
}
.dop_usluga {
  background-image: url(../css/img/bg_2.jpg);
  text-align: center;
  color: #f5f5f5;
}
.dop_usluga h3 {
  padding-top: 45px;
}
.dop_usluga span {
  display: block;
  font-family: ProximaNova_Bold, sans-serif;
  margin-top: 35px;
}
.dop_usluga img {
  margin-top: 70px;
}
.dop_usluga button {
  margin-top: 45px;
  margin-bottom: 45px;
}
.main-button {
  font-size: 12px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffba15;
  box-sizing: border-box;
  background-color: #fdb303;
  box-shadow: 4px 7px 13px 0px rgba(0, 0, 0, 0.04);
  width: 145px;
  height: 50px;
  font-family: ProximaNova_Rg, sans-serif;
  color: #f5f5f5;
  text-transform: uppercase;
  outline: none;
}
footer {
  background: url(../css/img/footer.jpg) 100% no-repeat;
  width: 100%;
  height: 750px;
  padding-top: 50px;
}
footer h3 {
  font-family: ProximaNova_Bold, sans-serif;
  font-size: 36px;
}
footer p {
  font-family: ProximaNova_Rg, sans-serif;
  font-size: 18px;
  padding-top: 10px;
}
footer .main-form_footer-2 {
  box-shadow: 4px 7px 13px 0px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 100%;
  height: 600px;
  text-align: center;
  font-family: ProximaNova_Rg, sans-serif;
}
footer .main-form_footer-2 h3 {
  font-family: ProximaNova_Rg, sans-serif;
  font-size: 18px;
  margin-top: 35px;
  padding-bottom: 20px;
}
footer .main-form_footer-2 label {
  display: inline-block;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
footer .main-form_footer-2 .name {
  transform: translateX(-50%) translateY(50%);
}
footer .main-form_footer-2 input {
  display: block;
  margin: 30px auto;
  padding: 10px 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #dddddd;
  border-style: solid;
  width: 254px;
  height: 52px;
}
footer .main-form_footer-2 .form-btn {
  display: block;
  margin: 0 auto;
}
