@media screen and (max-width:1200px) {
    .about__content_header{
        img{
            max-width: 550px;
        }
    }
    .news{
        &__bar{
            margin-left: 50px;
        }
    }
    .about{
        &__bar{
            margin-left: 50px;
        }
    }
}

@media screen and (max-width:992px) {
    .flood__about{
        margin-left: 5%;
    }
    .navbar-brand{
        img{
            margin-top: -10px;
        }
    }
    .news{
        &__bar{
            margin-left: 0px;
        }
    }
    .about{
        &__content_header{
            img{
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        &__bar{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
        }
    }

    .header__get{
        a{
            color: #333333;
        font-size: 15px;
        font-family: 'Gotham';
        border: none;
        padding: 0;
        border-radius: 0px;
        background-color: rgba(0, 0, 0, 0);
        font-size: 15px;
        width: auto;
        height: auto;
        &:hover{
            color: #e4151a;
            text-decoration: none;
            background-color: rgba(0, 0, 0, 0);
        }
        }
    }

    .collapse{
        position: relative;
        right: 0;
    }

    .application{
        &__header_stage{
            display: block;
            ul{
                display: block;
                margin-left: auto;
            margin-right: auto;
            }
            &-li{
                display: block;
            }
        }
        &__header_liney{
            display: none;
        }
        ul{
            padding: 0;
            width: 161px;
            display: block;
            li{
                display: block;
            }
        }
    }
}

@media screen and (max-width:720px) {
    
    .quess{
        span{
            &::before{
                display: none;
            }
        }
    }
    .application{
        &__bar{
            &-5{
                position: absolute;
                z-index: 99999;
                width: 90%;
                left: 50%;
                transform: translateX(-50%);
                bottom: -5650px;
            }
            &-footer{
                height: 400px;
            }
        }
    }
    .news{
        &__column{
            border-color: #fff;
        }
        &__bar{
            display: none;
        }
    }
    .insure{
        &__img{
            display: block;
            img{
                width: 70%;
                display: block;
                margin-bottom: 20px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .header{
        &__top{
            &_liney{
                a{
                    padding-left: 20%;
                }
                span{
                    a{
                        display: none;
                    }
                }
            }
        }
    }
    .navbar-brand{
        img{
            margin-left: 0;
        }
    }
    .slick-dots{ //точки слайдера
        li{
            display: none;
        }
    }

    .slide{ // слайд
        height: 600px;
    }

    .main{//главный синий блок
        height: 300px;
        &__content{
            p{
                text-align: center;
            }
            &_btn{
                width: 100%;
                margin: 0;
                a{
                    width: 100%;
                }
            }
            &_phone{
                display: block;
                width: 100%;
                text-align: center;
                margin: 0;
                strong{
                    display: block;
                    margin: 0;
                    line-height: 3;
                    &::before{
                        display: none;
                    }
                }
                span{
                    display: inline-block;
                    margin: 0
                }
                p{
                    display: inline-block;
                }
            }
        }
    }

    .footer .footer__block_nav{ //подвал
        ul{
            padding-left: 0;
            text-align: center;
            li{
                display: block;
                margin-left: 0;
            }
        }
    }
    .footer__block_contact{
        flex-direction: column;
        span{
            display: none;
        }
    }
}

@media screen and (max-width: 480px) {
    .application{
        &__bar{
            &-5{
                bottom: -5750px;
            }
            &-footer{
                height: 500px ;
            }
        }
    }
    
    .header__top_liney{
        a{
            margin-left: 0px;
            font-size: 14px;
            &::before{
                display: none;
            }
        }
    }

   .footer .footer__block{
        &_contact{
            display: block;
            p{
                display: block;
                text-align: center;
            }
            a{
                margin-left: auto;
                margin-right: auto;
                display: block;
                text-align: center;
            }
            img{
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
    }
    }
            
    .get__content_file{
        &_download{
            img{
                vertical-align: top;
            }
            button{
                padding: 5px 10px;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .header{
        &__top{
            &_liney{
                a{
                    padding-left: 2%;
                    &::before{
                        display: none;
                    }
                }
            }
        }
    }
}